<div *ngIf="firstLine.length !== 0 || secondLine.length !== 0 || thirdLine.length !== 0" class="container css-typing">
  <p>{{firstLine}}</p>
  <p>{{secondLine}}</p>
  <p>{{thirdLine}}</p>
  <button *ngIf="this.state !== 0" mat-icon-button class="back-btn-pos vert-move" (click)="back()">
    <mat-icon aria-label="Back button" class="rotate">arrow_drop_down_circle</mat-icon>
  </button>
  <button mat-icon-button class="forward-btn-pos vert-move" (click)="forward()">
    <mat-icon aria-label="Forward button">arrow_drop_down_circle</mat-icon>
  </button>
</div>
