<div class="container">
  <span class="mat-body-1">
    <p>Hey Piety,</p>
    <p>alles Gute zum Geburtstag! Ich hoffe, du machst dir einen schönen Tag mit deiner Familie und hast einen tollen Start ins Masterstudium!</p>
    <p>Ich hätte dir wirklich gerne mein Angular-Projekt beim Entwickeln gezeigt,
    aber dann hätte ich dein Geburtstagsgeschenk gespoilert. Es fiel mir wirklich schwer, dir dabei "Nein" zu sagen, aber ich hoffe, es hat sich gelohnt.</p>
    <p>Du bist der beste Skype-Gesprächspartner schrägstrich Cookie-Fee schrägstrich Kumpel, den man haben kann!</p>
    <p>Liebe Grüße vom Nachbarkontinent,</p>
    <p>- Isi</p>
    <p>P.S.: Tut mir leid für das "Rumgehacke" am Ende...die Zeit war so knapp ^^;</p>
  </span>
</div>
