<div class="block-div">
  <div class="modal">
    <mat-radio-group>
      <mat-radio-button value="1" (click)="valueSelected = true">Heut ist mein Geburtstag!!!!</mat-radio-button>
      <br>
      <mat-radio-button value="2" (click)="valueSelected = true">Uff...heute ist wohl mein Geburtstag...
      </mat-radio-button>
      <br>
      <mat-radio-button value="2" (click)="valueSelected = true">Heute ist Dienstag, der 18. September.
      </mat-radio-button>
    </mat-radio-group>
    <button [disabled]="valueSelected === false"
            class="btn-position" mat-raised-button
            color="accent"
            (click)="next()">Weiter
    </button>
  </div>
</div>
