@import '~@angular/material/theming';
@include mat-core();

$md-sand: (
  50 : #f7f2e0,
  100 : #ecdeb3,
  200 : #dfc880,
  300 : #d2b14d,
  400 : #c9a126,
  500 : #bf9000,
  600 : #b98800,
  700 : #b17d00,
  800 : #a97300,
  900 : #9b6100,
  A100 : #ffe6c6,
  A200 : #ffd093,
  A400 : #ffba60,
  A700 : #ffaf47,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$my-app-primary: mat-palette($mat-red);
$my-app-accent:  mat-palette($md-sand);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);
