.container {
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.dialog {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.scene {
  height: 100%;
  width: 100%;
  position: absolute;
}

.map {
  position: absolute;
  bottom: 235px;
  right: 220px;
  z-index: 2;
}

.map-button {
  position: absolute;
  z-index: 2;
  right: 5px;
  top: 5px;
}

.btn-size {
  width: 5px;
  height: 15px;
  background: transparent;
  position: absolute;
}

.clue-bath-1 {
  top: 15vh;
  left: 12vh;
}

.clue-bath-2 {
  top: 20vh;
  left: 20vh;
}

.clue-kitchen-1 {
  top: 41vh;
  left: 41vh;
}

.clue-kitchen-2 {
  bottom: 22vh;
  right: 33vh;
}

.clue-living-1 {
  top: 37vh;
  left: 38vh;
}

.clue-living-2 {
  bottom: 18vh;
  right: 7vh;
}
