.container {
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.dialog {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.scene {
  height: 100%;
  width: 100%;
  position: absolute;
}
